<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations.css') }}">
</head>

<body>
    <!-- equipe-->
    <div class="game-container">
        <!-- Equipe Bleu -->
        <div id="blue-section" class="team-section blue">
            <h1>Équipe Bleue</h1>
            <div class="buzz-counter" id="blue-buzz-counter">Nombre de buzz: 0</div>
            <div class="timer-bar-container">
                <div id="question-timer-bar" class="timer-bar"></div>
            </div>
            <div id="buzzed-team-blue" class="buzzed-team">Aucune équipe n'a buzzé</div>
            <div class="timer-bar-container">
                <div id="answer-timer-bar" class="timer-bar answer-timer-bar"></div>
            </div>
            <button id="blue-buzzer" class="buzzer-button">Équipe Bleue Buzz</button>
            <div id="blue-score" class="score">Score : 0</div>
            <button id="blue-add-points" class="buzzer-button points-button">Ajouter 1 point à l'équipe Bleue</button>
        </div>

        <!-- Equipe Jaune -->
        <div id="yellow-section" class="team-section yellow">
            <h1>Équipe Jaune</h1>
            <div class="buzz-counter" id="yellow-buzz-counter">Nombre de buzz: 0</div>
            <div class="timer-bar-container">
                <div id="question-timer-bar-yellow" class="timer-bar"></div>
            </div>
            <div id="buzzed-team-yellow" class="buzzed-team">Aucune équipe n'a buzzé</div>
            <div class="timer-bar-container">
                <div id="answer-timer-bar-yellow" class="timer-bar answer-timer-bar"></div>
            </div>
            <button id="yellow-buzzer" class="buzzer-button">Équipe Jaune Buzz</button>
            <div id="yellow-score" class="score">Score : 0</div>
            <button id="yellow-add-points" class="buzzer-button points-button">Ajouter 1 point à l'équipe Jaune</button>
        </div>
    </div>

    <div class="control-panel">
        <button id="start-timer-button" class="buzzer-button">Lancer le Timer</button>
        <div class="timer-display" id="timer-display"></div>
    </div>

    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script>
        window.mediaPaths = {
            enter: "{{ url_for('static', filename='media/Enter.mp3') }}",
            win: "{{ url_for('static', filename='media/win.mp3') }}",
            wrong: "{{ url_for('static', filename='media/worng.mp3') }}"
        };
    </script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/script_index.js') }}"></script>
</body>

</html>